In [51]:
# Dataset size - 1 million
import pandas as pd
import numpy as np

In [37]:
SEED = 42
np.random.seed(SEED)
NUM_ROWS = 1000000

In [38]:
RANGES = {
    'STUDENT_IDS' : (26090000, 26900000),
    'MATH_SCORE' : (-80, 300),
    'PHYSICS_SCORE' : (-80, 300),
    'CHEMISTRY_SCORE' : (-80, 300),
    'BIOLOGY_SCORE' : (0, 200),
    'GRADE' : ['F', 'C', 'C+', 'B', 'B+', 'A', 'A+'],
    'ATTENDANCE' : (0.00, 1.00),
    'PERCENTILE' : (0.00, 1.00),
    'GENDER' : ['MALE', 'FEMALE', 'OTHER'],
    'PARENT_EDUCATION' : [
        "No formal education", "Primary School", "Secondary School", "High School",
        "Associate Degree", "Bachelor's Degree", "Master's Degree", "Doctorate"
    ],
    'EXTRACURRICULAR_PARTICIPATION' : [
        "Sports", "Music", "Art", "Debate", "Drama", "Science Club", "Volunteer Work",
        "Robotics", "Coding Club", "None"
    ],
    'FIRST_NAMES_MALE' : [
        "Aarav", "Vivaan", "Aditya", "Rohan", "Kartik", "Arjun", "Krishna",
        "Rishi", "Kabir", "Shaurya", "Vihaan", "Aryan", "Aarush", "Adarsh",
        "Dhruv", "Sai", "Ansh", "Ishaan", "Raghav", "Dev"
    ],
    'FIRST_NAMES_FEMALE' : [
        "Ananya", "Ishita", "Sneha", "Diya", "Mira", "Tara", "Sanya",
        "Anika", "Myra", "Isha", "Kiara", "Riddhi", "Shruti", "Priya",
        "Meera", "Ishani", "Kavya", "Anvi", "Tania", "Rhea"
    ],
    'MIDDLE_NAMES' : [
        "Rohan", "Priya", "Karthik", "Meera", "Raj", "Anjali", "Arjun",
        "Kavya", "Aryan", "Anika", "Vihaan", "Ishani", "Arya", "Riddhi",
        "Adarsh", "Shruti", "Aarush", "Kiara", "Rohan", "Kavya"
    ],
    'LAST_NAMES' : [
        "Sharma", "Singh", "Iyer", "Patel", "Gupta", "Rao", "Mehta", "Nair",
        "Verma", "Joshi", "Kapoor", "Reddy", "Choudhury", "Bhatia", "Desai",
        "Malhotra", "Dutta", "Sengupta", "Bhatt", "Menon"
    ],
    'SOCIOECONOMIC_STATUS' : ['Low', 'Medium', 'High'],
    'TRANSPORT_MODE' : ['Walk', 'Bicycle', 'Bus', 'Car', 'Metro', 'Other'],
    'LUNCH_TYPE' : ['Home', 'School', 'Cafeteria', 'Packed'],
    'STUDY_HOURS_PER_WEEK' : (0, 40),
    'EXAM_ATTEMPTS' : (1, 5),
    'SCHOOL_TYPE' : ['Public', 'Private', 'Charter', 'International'],
    'INTERNET_ACCESS' : ['Yes', 'No'],
    'TUTORING' : ['Yes', 'No'],
    'SPORTS_SCORE' : (0, 100),
    'ART_SCORE' : (0, 100),
    'MUSIC_SCORE' : (0, 100)
}

In [39]:
data = dict()
def create_ndata(key):
    data[key] = np.asarray([
    np.random.randint(*RANGES[key],
              size = NUM_ROWS,
    )
])

def create_sdata(key,suffix='',weights=None):
    data[key+suffix] = np.asarray([
    np.random.choice(RANGES[key],
              size = NUM_ROWS,
              p = weights
    )
])

nkeys = [key for key in RANGES.keys() if type(RANGES[key][0]) is not str ]
skeys = [key for key in RANGES.keys() if type(RANGES[key][0]) is str ]

In [40]:
nkeys

['STUDENT_IDS',
 'MATH_SCORE',
 'PHYSICS_SCORE',
 'CHEMISTRY_SCORE',
 'BIOLOGY_SCORE',
 'ATTENDANCE',
 'PERCENTILE',
 'STUDY_HOURS_PER_WEEK',
 'EXAM_ATTEMPTS',
 'SPORTS_SCORE',
 'ART_SCORE',
 'MUSIC_SCORE']

In [41]:
skeys

['GRADE',
 'GENDER',
 'PARENT_EDUCATION',
 'EXTRACURRICULAR_PARTICIPATION',
 'FIRST_NAMES_MALE',
 'FIRST_NAMES_FEMALE',
 'MIDDLE_NAMES',
 'LAST_NAMES',
 'SOCIOECONOMIC_STATUS',
 'TRANSPORT_MODE',
 'LUNCH_TYPE',
 'SCHOOL_TYPE',
 'INTERNET_ACCESS',
 'TUTORING']

In [42]:
list(map(create_ndata,nkeys))

[None, None, None, None, None, None, None, None, None, None, None, None]

In [43]:
data

{'STUDENT_IDS': array([[26211958, 26761155, 26221932, ..., 26442425, 26804487, 26684450]],
       shape=(1, 1000000)),
 'MATH_SCORE': array([[ 95, 168, 255, ..., 204, -22, 106]], shape=(1, 1000000)),
 'PHYSICS_SCORE': array([[-31, 143, 188, ..., 299, 141, 295]], shape=(1, 1000000)),
 'CHEMISTRY_SCORE': array([[-67,   9,  -1, ...,  35, 149, -19]], shape=(1, 1000000)),
 'BIOLOGY_SCORE': array([[ 74, 161, 130, ..., 168, 134,  30]], shape=(1, 1000000)),
 'ATTENDANCE': array([[0, 0, 0, ..., 0, 0, 0]], shape=(1, 1000000)),
 'PERCENTILE': array([[0, 0, 0, ..., 0, 0, 0]], shape=(1, 1000000)),
 'STUDY_HOURS_PER_WEEK': array([[11, 33, 17, ..., 32, 23,  4]], shape=(1, 1000000)),
 'EXAM_ATTEMPTS': array([[3, 4, 4, ..., 4, 2, 1]], shape=(1, 1000000)),
 'SPORTS_SCORE': array([[94, 37, 58, ..., 21,  2, 14]], shape=(1, 1000000)),
 'ART_SCORE': array([[46, 85, 73, ..., 70, 18,  8]], shape=(1, 1000000)),
 'MUSIC_SCORE': array([[40, 78, 56, ..., 11, 28, 10]], shape=(1, 1000000))}

In [44]:
list(map(create_sdata,[sk for sk in skeys if sk!='GENDER']))

[None, None, None, None, None, None, None, None, None, None, None, None, None]

In [45]:
data

{'STUDENT_IDS': array([[26211958, 26761155, 26221932, ..., 26442425, 26804487, 26684450]],
       shape=(1, 1000000)),
 'MATH_SCORE': array([[ 95, 168, 255, ..., 204, -22, 106]], shape=(1, 1000000)),
 'PHYSICS_SCORE': array([[-31, 143, 188, ..., 299, 141, 295]], shape=(1, 1000000)),
 'CHEMISTRY_SCORE': array([[-67,   9,  -1, ...,  35, 149, -19]], shape=(1, 1000000)),
 'BIOLOGY_SCORE': array([[ 74, 161, 130, ..., 168, 134,  30]], shape=(1, 1000000)),
 'ATTENDANCE': array([[0, 0, 0, ..., 0, 0, 0]], shape=(1, 1000000)),
 'PERCENTILE': array([[0, 0, 0, ..., 0, 0, 0]], shape=(1, 1000000)),
 'STUDY_HOURS_PER_WEEK': array([[11, 33, 17, ..., 32, 23,  4]], shape=(1, 1000000)),
 'EXAM_ATTEMPTS': array([[3, 4, 4, ..., 4, 2, 1]], shape=(1, 1000000)),
 'SPORTS_SCORE': array([[94, 37, 58, ..., 21,  2, 14]], shape=(1, 1000000)),
 'ART_SCORE': array([[46, 85, 73, ..., 70, 18,  8]], shape=(1, 1000000)),
 'MUSIC_SCORE': array([[40, 78, 56, ..., 11, 28, 10]], shape=(1, 1000000)),
 'GRADE': array([['C', 'F', 'C+', ..., 'C', 'A', 'A+']],
       shape=(1, 1000000), dtype='<U2'),
 'PARENT_EDUCATION': array([['No formal education', "Master's Degree", 'Secondary School',
         ..., 'No formal education', 'High School', 'Primary School']],
       shape=(1, 1000000), dtype='<U19'),
 'EXTRACURRICULAR_PARTICIPATION': array([['Art', 'Volunteer Work', 'Music', ..., 'Coding Club',
         'Volunteer Work', 'None']], shape=(1, 1000000), dtype='<U14'),
 'FIRST_NAMES_MALE': array([['Aarush', 'Kabir', 'Kabir', ..., 'Aryan', 'Dhruv', 'Raghav']],
       shape=(1, 1000000), dtype='<U7'),
 'FIRST_NAMES_FEMALE': array([['Isha', 'Tania', 'Ishita', ..., 'Sanya', 'Kiara', 'Anvi']],
       shape=(1, 1000000), dtype='<U6'),
 'MIDDLE_NAMES': array([['Aarush', 'Adarsh', 'Ishani', ..., 'Meera', 'Adarsh', 'Riddhi']],
       shape=(1, 1000000), dtype='<U7'),
 'LAST_NAMES': array([['Menon', 'Sharma', 'Reddy', ..., 'Choudhury', 'Patel',
         'Sengupta']], shape=(1, 1000000), dtype='<U9'),
 'SOCIOECONOMIC_STATUS': array([['High', 'Low', 'Medium', ..., 'Low', 'Medium', 'High']],
       shape=(1, 1000000), dtype='<U6'),
 'TRANSPORT_MODE': array([['Metro', 'Bus', 'Walk', ..., 'Bicycle', 'Car', 'Walk']],
       shape=(1, 1000000), dtype='<U7'),
 'LUNCH_TYPE': array([['Cafeteria', 'Home', 'Cafeteria', ..., 'Packed', 'School',
         'Cafeteria']], shape=(1, 1000000), dtype='<U9'),
 'SCHOOL_TYPE': array([['Charter', 'Private', 'Private', ..., 'Public', 'Charter',
         'Public']], shape=(1, 1000000), dtype='<U13'),
 'INTERNET_ACCESS': array([['Yes', 'Yes', 'Yes', ..., 'No', 'No', 'Yes']],
       shape=(1, 1000000), dtype='<U3'),
 'TUTORING': array([['Yes', 'No', 'Yes', ..., 'Yes', 'No', 'Yes']],
       shape=(1, 1000000), dtype='<U3')}

In [46]:
results_male = list(map(lambda sk: create_sdata(sk, '_MALE', [0.9,0,0.1]), skeys[1:2]))
results_female = list(map(lambda sk: create_sdata(sk, '_FEMALE', [0,0.9,0.1]), skeys[1:2]))

In [47]:
data

{'STUDENT_IDS': array([[26211958, 26761155, 26221932, ..., 26442425, 26804487, 26684450]],
       shape=(1, 1000000)),
 'MATH_SCORE': array([[ 95, 168, 255, ..., 204, -22, 106]], shape=(1, 1000000)),
 'PHYSICS_SCORE': array([[-31, 143, 188, ..., 299, 141, 295]], shape=(1, 1000000)),
 'CHEMISTRY_SCORE': array([[-67,   9,  -1, ...,  35, 149, -19]], shape=(1, 1000000)),
 'BIOLOGY_SCORE': array([[ 74, 161, 130, ..., 168, 134,  30]], shape=(1, 1000000)),
 'ATTENDANCE': array([[0, 0, 0, ..., 0, 0, 0]], shape=(1, 1000000)),
 'PERCENTILE': array([[0, 0, 0, ..., 0, 0, 0]], shape=(1, 1000000)),
 'STUDY_HOURS_PER_WEEK': array([[11, 33, 17, ..., 32, 23,  4]], shape=(1, 1000000)),
 'EXAM_ATTEMPTS': array([[3, 4, 4, ..., 4, 2, 1]], shape=(1, 1000000)),
 'SPORTS_SCORE': array([[94, 37, 58, ..., 21,  2, 14]], shape=(1, 1000000)),
 'ART_SCORE': array([[46, 85, 73, ..., 70, 18,  8]], shape=(1, 1000000)),
 'MUSIC_SCORE': array([[40, 78, 56, ..., 11, 28, 10]], shape=(1, 1000000)),
 'GRADE': array([['C', 'F', 'C+', ..., 'C', 'A', 'A+']],
       shape=(1, 1000000), dtype='<U2'),
 'PARENT_EDUCATION': array([['No formal education', "Master's Degree", 'Secondary School',
         ..., 'No formal education', 'High School', 'Primary School']],
       shape=(1, 1000000), dtype='<U19'),
 'EXTRACURRICULAR_PARTICIPATION': array([['Art', 'Volunteer Work', 'Music', ..., 'Coding Club',
         'Volunteer Work', 'None']], shape=(1, 1000000), dtype='<U14'),
 'FIRST_NAMES_MALE': array([['Aarush', 'Kabir', 'Kabir', ..., 'Aryan', 'Dhruv', 'Raghav']],
       shape=(1, 1000000), dtype='<U7'),
 'FIRST_NAMES_FEMALE': array([['Isha', 'Tania', 'Ishita', ..., 'Sanya', 'Kiara', 'Anvi']],
       shape=(1, 1000000), dtype='<U6'),
 'MIDDLE_NAMES': array([['Aarush', 'Adarsh', 'Ishani', ..., 'Meera', 'Adarsh', 'Riddhi']],
       shape=(1, 1000000), dtype='<U7'),
 'LAST_NAMES': array([['Menon', 'Sharma', 'Reddy', ..., 'Choudhury', 'Patel',
         'Sengupta']], shape=(1, 1000000), dtype='<U9'),
 'SOCIOECONOMIC_STATUS': array([['High', 'Low', 'Medium', ..., 'Low', 'Medium', 'High']],
       shape=(1, 1000000), dtype='<U6'),
 'TRANSPORT_MODE': array([['Metro', 'Bus', 'Walk', ..., 'Bicycle', 'Car', 'Walk']],
       shape=(1, 1000000), dtype='<U7'),
 'LUNCH_TYPE': array([['Cafeteria', 'Home', 'Cafeteria', ..., 'Packed', 'School',
         'Cafeteria']], shape=(1, 1000000), dtype='<U9'),
 'SCHOOL_TYPE': array([['Charter', 'Private', 'Private', ..., 'Public', 'Charter',
         'Public']], shape=(1, 1000000), dtype='<U13'),
 'INTERNET_ACCESS': array([['Yes', 'Yes', 'Yes', ..., 'No', 'No', 'Yes']],
       shape=(1, 1000000), dtype='<U3'),
 'TUTORING': array([['Yes', 'No', 'Yes', ..., 'Yes', 'No', 'Yes']],
       shape=(1, 1000000), dtype='<U3'),
 'GENDER_MALE': array([['MALE', 'MALE', 'MALE', ..., 'MALE', 'MALE', 'MALE']],
       shape=(1, 1000000), dtype='<U6'),
 'GENDER_FEMALE': array([['FEMALE', 'FEMALE', 'FEMALE', ..., 'FEMALE', 'FEMALE', 'FEMALE']],
       shape=(1, 1000000), dtype='<U6')}

In [62]:
data

{'STUDENT_IDS': array([[26211958, 26761155, 26221932, ..., 26442425, 26804487, 26684450]],
       shape=(1, 1000000)),
 'MATH_SCORE': array([[ 95, 168, 255, ..., 204, -22, 106]], shape=(1, 1000000)),
 'PHYSICS_SCORE': array([[-31, 143, 188, ..., 299, 141, 295]], shape=(1, 1000000)),
 'CHEMISTRY_SCORE': array([[-67,   9,  -1, ...,  35, 149, -19]], shape=(1, 1000000)),
 'BIOLOGY_SCORE': array([[ 74, 161, 130, ..., 168, 134,  30]], shape=(1, 1000000)),
 'ATTENDANCE': array([[0, 0, 0, ..., 0, 0, 0]], shape=(1, 1000000)),
 'PERCENTILE': array([[0, 0, 0, ..., 0, 0, 0]], shape=(1, 1000000)),
 'STUDY_HOURS_PER_WEEK': array([[11, 33, 17, ..., 32, 23,  4]], shape=(1, 1000000)),
 'EXAM_ATTEMPTS': array([[3, 4, 4, ..., 4, 2, 1]], shape=(1, 1000000)),
 'SPORTS_SCORE': array([[94, 37, 58, ..., 21,  2, 14]], shape=(1, 1000000)),
 'ART_SCORE': array([[46, 85, 73, ..., 70, 18,  8]], shape=(1, 1000000)),
 'MUSIC_SCORE': array([[40, 78, 56, ..., 11, 28, 10]], shape=(1, 1000000)),
 'GRADE': array([['C', 'F', 'C+', ..., 'C', 'A', 'A+']],
       shape=(1, 1000000), dtype='<U2'),
 'PARENT_EDUCATION': array([['No formal education', "Master's Degree", 'Secondary School',
         ..., 'No formal education', 'High School', 'Primary School']],
       shape=(1, 1000000), dtype='<U19'),
 'EXTRACURRICULAR_PARTICIPATION': array([['Art', 'Volunteer Work', 'Music', ..., 'Coding Club',
         'Volunteer Work', 'None']], shape=(1, 1000000), dtype='<U14'),
 'FIRST_NAMES_MALE': array([['Aarush', 'Kabir', 'Kabir', ..., 'Aryan', 'Dhruv', 'Raghav']],
       shape=(1, 1000000), dtype='<U7'),
 'FIRST_NAMES_FEMALE': array([['Isha', 'Tania', 'Ishita', ..., 'Sanya', 'Kiara', 'Anvi']],
       shape=(1, 1000000), dtype='<U6'),
 'MIDDLE_NAMES': array([['Aarush', 'Adarsh', 'Ishani', ..., 'Meera', 'Adarsh', 'Riddhi']],
       shape=(1, 1000000), dtype='<U7'),
 'LAST_NAMES': array([['Menon', 'Sharma', 'Reddy', ..., 'Choudhury', 'Patel',
         'Sengupta']], shape=(1, 1000000), dtype='<U9'),
 'SOCIOECONOMIC_STATUS': array([['High', 'Low', 'Medium', ..., 'Low', 'Medium', 'High']],
       shape=(1, 1000000), dtype='<U6'),
 'TRANSPORT_MODE': array([['Metro', 'Bus', 'Walk', ..., 'Bicycle', 'Car', 'Walk']],
       shape=(1, 1000000), dtype='<U7'),
 'LUNCH_TYPE': array([['Cafeteria', 'Home', 'Cafeteria', ..., 'Packed', 'School',
         'Cafeteria']], shape=(1, 1000000), dtype='<U9'),
 'SCHOOL_TYPE': array([['Charter', 'Private', 'Private', ..., 'Public', 'Charter',
         'Public']], shape=(1, 1000000), dtype='<U13'),
 'INTERNET_ACCESS': array([['Yes', 'Yes', 'Yes', ..., 'No', 'No', 'Yes']],
       shape=(1, 1000000), dtype='<U3'),
 'TUTORING': array([['Yes', 'No', 'Yes', ..., 'Yes', 'No', 'Yes']],
       shape=(1, 1000000), dtype='<U3'),
 'GENDER_MALE': array([['MALE', 'MALE', 'MALE', ..., 'MALE', 'MALE', 'MALE']],
       shape=(1, 1000000), dtype='<U6'),
 'GENDER_FEMALE': [array(['FEMALE', 'FEMALE', 'FEMALE', ..., 'FEMALE', 'FEMALE', 'FEMALE'],
        shape=(1000000,), dtype='<U6')]}

In [63]:
clean_dict = {}

for key, value in data.items():
    if isinstance(value, np.ndarray):
        if len(value.shape) == 2 and value.shape[0] == 1:
            clean_dict[key] = value.flatten()
        else:
            clean_dict[key] = value  
    else:
        clean_dict[key] = value
        
display(clean_dict)
df = pd.DataFrame(clean_dict)

print(df.head())
print(df.shape)

{'STUDENT_IDS': array([26211958, 26761155, 26221932, ..., 26442425, 26804487, 26684450],
       shape=(1000000,)),
 'MATH_SCORE': array([ 95, 168, 255, ..., 204, -22, 106], shape=(1000000,)),
 'PHYSICS_SCORE': array([-31, 143, 188, ..., 299, 141, 295], shape=(1000000,)),
 'CHEMISTRY_SCORE': array([-67,   9,  -1, ...,  35, 149, -19], shape=(1000000,)),
 'BIOLOGY_SCORE': array([ 74, 161, 130, ..., 168, 134,  30], shape=(1000000,)),
 'ATTENDANCE': array([0, 0, 0, ..., 0, 0, 0], shape=(1000000,)),
 'PERCENTILE': array([0, 0, 0, ..., 0, 0, 0], shape=(1000000,)),
 'STUDY_HOURS_PER_WEEK': array([11, 33, 17, ..., 32, 23,  4], shape=(1000000,)),
 'EXAM_ATTEMPTS': array([3, 4, 4, ..., 4, 2, 1], shape=(1000000,)),
 'SPORTS_SCORE': array([94, 37, 58, ..., 21,  2, 14], shape=(1000000,)),
 'ART_SCORE': array([46, 85, 73, ..., 70, 18,  8], shape=(1000000,)),
 'MUSIC_SCORE': array([40, 78, 56, ..., 11, 28, 10], shape=(1000000,)),
 'GRADE': array(['C', 'F', 'C+', ..., 'C', 'A', 'A+'], shape=(1000000,), dtype='<U2'),
 'PARENT_EDUCATION': array(['No formal education', "Master's Degree", 'Secondary School', ...,
        'No formal education', 'High School', 'Primary School'],
       shape=(1000000,), dtype='<U19'),
 'EXTRACURRICULAR_PARTICIPATION': array(['Art', 'Volunteer Work', 'Music', ..., 'Coding Club',
        'Volunteer Work', 'None'], shape=(1000000,), dtype='<U14'),
 'FIRST_NAMES_MALE': array(['Aarush', 'Kabir', 'Kabir', ..., 'Aryan', 'Dhruv', 'Raghav'],
       shape=(1000000,), dtype='<U7'),
 'FIRST_NAMES_FEMALE': array(['Isha', 'Tania', 'Ishita', ..., 'Sanya', 'Kiara', 'Anvi'],
       shape=(1000000,), dtype='<U6'),
 'MIDDLE_NAMES': array(['Aarush', 'Adarsh', 'Ishani', ..., 'Meera', 'Adarsh', 'Riddhi'],
       shape=(1000000,), dtype='<U7'),
 'LAST_NAMES': array(['Menon', 'Sharma', 'Reddy', ..., 'Choudhury', 'Patel', 'Sengupta'],
       shape=(1000000,), dtype='<U9'),
 'SOCIOECONOMIC_STATUS': array(['High', 'Low', 'Medium', ..., 'Low', 'Medium', 'High'],
       shape=(1000000,), dtype='<U6'),
 'TRANSPORT_MODE': array(['Metro', 'Bus', 'Walk', ..., 'Bicycle', 'Car', 'Walk'],
       shape=(1000000,), dtype='<U7'),
 'LUNCH_TYPE': array(['Cafeteria', 'Home', 'Cafeteria', ..., 'Packed', 'School',
        'Cafeteria'], shape=(1000000,), dtype='<U9'),
 'SCHOOL_TYPE': array(['Charter', 'Private', 'Private', ..., 'Public', 'Charter',
        'Public'], shape=(1000000,), dtype='<U13'),
 'INTERNET_ACCESS': array(['Yes', 'Yes', 'Yes', ..., 'No', 'No', 'Yes'],
       shape=(1000000,), dtype='<U3'),
 'TUTORING': array(['Yes', 'No', 'Yes', ..., 'Yes', 'No', 'Yes'],
       shape=(1000000,), dtype='<U3'),
 'GENDER_MALE': array(['MALE', 'MALE', 'MALE', ..., 'MALE', 'MALE', 'MALE'],
       shape=(1000000,), dtype='<U6'),
 'GENDER_FEMALE': [array(['FEMALE', 'FEMALE', 'FEMALE', ..., 'FEMALE', 'FEMALE', 'FEMALE'],
        shape=(1000000,), dtype='<U6')]}

ValueError: All arrays must be of the same length