In [18]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/dypcoe-student/.local/lib/python3.10/site-packages (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/dypcoe-student/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: tzdata>=2022.7 in /home/dypcoe-student/.local/lib/python3.10/site-packages (from pandas) (2025.3)
Requirement already satisfied: numpy>=1.22.4 in /home/dypcoe-student/.local/lib/python3.10/site-packages (from pandas) (2.2.6)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [17]:
import pandas as pd
import numpy as np
!ls

BTC_DATA.csv  Untitled.ipynb

In [16]:
#
df = pd.read_csv('BTC_DATA.csv',low_memory=False)
display(df.sample(10))

,Unnamed: 0,Date,priceUSD,transactions,size,sentbyaddress,difficulty,hashrate,mining_profitability,sentinusdUSD,...,price3rsiUSD,price7rsiUSD,price14rsiUSD,price30rsiUSD,price90rsiUSD,price3rocUSD,price7rocUSD,price14rocUSD,price30rocUSD,price90rocUSD
1564,1564,2014/10/29,344.899,93512,319515.0,155241,3.598564e+10,2.573123e+17,5.213,1.950498e+08,...,11.802,26.514,35.548,36.935,42.289,-1.818,-9.901,-12.415,-8.615,-40.010
2196,2196,2016/07/22,659.521,221275,863906.0,285242,2.134925e+11,1.423660e+18,0.777,9.857656e+08,...,25.534,46.066,51.617,56.481,59.362,-1.410,0.096,2.307,1.474,47.924
3181,3181,2019/04/03,5028.000,360108,914967.0,493018,6.379265e+12,4.725064e+19,0.204,4.980171e+09,...,99.657,97.183,92.376,79.969,53.828,22.561,25.275,25.049,34.242,29.797
939,939,2013/02/11,23.705,57435,164838.0,37215,3.275465e+06,2.699280e+13,3534.000,2.924333e+07,...,99.645,97.939,96.189,92.532,79.886,7.784,17.844,33.828,69.558,115.900
2800,2800,2018/03/18,7696.000,164250,600309.0,245234,3.381698e+12,2.469239e+19,0.596,3.888451e+09,...,13.256,22.680,32.319,40.278,47.693,-5.263,-15.100,-31.718,-23.479,-59.179
178,178,2011/01/12,0.323,995,1839.0,974,1.630700e+04,1.364466e+11,19746.000,1.902200e+04,...,63.955,77.359,72.654,63.879,60.853,-0.094,9.566,13.012,46.659,212.494
207,207,2011/02/10,1.030,1848,3598.0,2625,2.599800e+04,2.421645e+11,39565.000,2.238470e+05,...,96.444,94.615,91.602,86.347,77.632,15.122,45.935,148.021,215.428,314.466
3516,3516,2020/03/03,8791.000,342171,787057.0,464555,1.548691e+13,1.177302e+20,0.145,4.724035e+09,...,48.862,32.877,38.167,46.938,50.462,1.161,-7.663,-10.660,-6.461,20.185
689,689,2012/06/06,5.450,15784,47759.0,17917,1.591075e+06,1.258817e+13,3317.000,1.338146e+07,...,94.718,89.687,80.045,64.145,51.895,4.276,5.980,6.463,7.814,10.462
1359,1359,2014/04/07,454.031,65659,243620.0,107046,6.119726e+09,4.628322e+16,37.171,1.922220e+08,...,44.655,32.009,31.090,37.386,47.246,2.168,-0.651,-19.447,-26.731,-50.369

In [ ]:
#Data Preprocessing:

In [24]:
#check for missing values in the data using pandas isnull(), describe() function to get some initial statistics

print('A) Missing values - ')
display(df.isnull())

print('B) Total missing values per column - ')
display(df.isnull().sum())

print('C) Total missing values - ')
display(df.isnull().sum().sum())



print("Describing dataframe")
display(df.describe())

A) Missing values -

,Unnamed: 0,Date,priceUSD,transactions,size,sentbyaddress,difficulty,hashrate,mining_profitability,sentinusdUSD,...,price3rsiUSD,price7rsiUSD,price14rsiUSD,price30rsiUSD,price90rsiUSD,price3rocUSD,price7rocUSD,price14rocUSD,price30rocUSD,price90rocUSD
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4384,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4385,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4386,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4387,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4388,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

B) Total missing values per column -

Unnamed: 0       0
Date             0
priceUSD         0
transactions     0
size             0
                ..
price3rocUSD     0
price7rocUSD     0
price14rocUSD    0
price30rocUSD    0
price90rocUSD    0
Length: 738, dtype: int64

C) Total missing values -

np.int64(0)

Describing dataframe

,Unnamed: 0,priceUSD,transactions,size,sentbyaddress,difficulty,hashrate,mining_profitability,sentinusdUSD,transactionfeesUSD,...,price3rsiUSD,price7rsiUSD,price14rsiUSD,price30rsiUSD,price90rsiUSD,price3rocUSD,price7rocUSD,price14rocUSD,price30rocUSD,price90rocUSD
count,4389.000000,4389.000000,4389.000000,4389.000000,4389.000000,4.389000e+03,4.389000e+03,4389.000000,4.389000e+03,4389.000000,...,4389.000000,4389.000000,4389.000000,4389.000000,4389.000000,4389.000000,4389.000000,4389.000000,4389.000000,4389.000000
mean,2194.000000,8197.992027,170976.844384,510364.982228,260076.089998,5.641314e+12,4.093714e+19,5406.144431,7.566476e+09,1.931193,...,55.508445,55.208448,54.953946,54.618500,53.726765,1.239174,3.047535,6.641916,17.334920,77.954721
std,1267.139495,14591.924414,121122.319756,341720.357817,189943.125245,8.577959e+12,6.214409e+19,26103.576652,1.882624e+10,5.157474,...,29.595728,22.447418,18.161250,14.560046,12.117982,8.816302,15.453631,26.729048,61.179794,235.898985
min,0.000000,0.053000,92.000000,322.952000,226.000000,1.815430e+02,1.551287e+09,0.063700,5.536990e+02,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,-52.688000,-61.595000,-52.299000,-60.273000,-83.161000
25%,1097.000000,113.005000,52572.000000,150811.000000,49371.000000,2.616288e+07,2.276863e+14,0.272000,8.884044e+07,0.040400,...,30.649000,38.554000,42.032000,44.976000,47.346000,-2.353000,-3.795000,-6.326000,-10.173000,-13.650000
50%,2194.000000,662.495000,196285.000000,603328.000000,292748.000000,2.133989e+11,1.527744e+18,1.345000,1.035302e+09,0.189000,...,56.614000,53.525000,53.186000,53.352000,53.318000,0.573000,1.015000,2.089000,3.667000,18.152000
75%,3291.000000,8748.000000,277460.000000,829541.000000,423969.000000,9.033161e+12,6.831026e+19,1573.000000,5.967298e+09,1.606000,...,82.404000,72.544000,67.332000,62.948000,59.911000,4.211000,7.978000,13.196000,25.018000,80.516000
max,4388.000000,67547.000000,490459.000000,998092.000000,730199.000000,3.125110e+13,2.530473e+20,481473.000000,3.833295e+11,62.779000,...,99.996000,99.752000,99.033000,98.043000,96.314000,88.853000,192.720000,263.208000,714.480000,3224.000000

In [25]:
#Provide variable descriptions. Types of variables etc.

print('Types of vars - ')
display(df.dtypes)

Types of vars -

Unnamed: 0         int64
Date              object
priceUSD         float64
transactions       int64
size             float64
                  ...
price3rocUSD     float64
price7rocUSD     float64
price14rocUSD    float64
price30rocUSD    float64
price90rocUSD    float64
Length: 738, dtype: object

In [26]:
#Check the dimensions of the data frame.
print('Dimension of df - ')
display(df.ndim)

Dimension of df -

2

In [ ]:
# Data Formatting and Data Normalization:

In [32]:
# Summarize the types of vars by checking the data types (i.e., character, numeric, integer, factor, and logical) 
# of the variables in the data

print('Character - ')
display(df.select_dtypes(include='object'))

print('Numeric - ')
display(df.select_dtypes(include='number'))

print('Integer - ')
display(df.select_dtypes(include='int64'))

print('Logical - ')
display(df.select_dtypes(include='bool'))

Character -

            Date
0     2010/07/18
1     2010/07/19
2     2010/07/20
3     2010/07/21
4     2010/07/22
...          ...
4384  2022/07/19
4385  2022/07/20
4386  2022/07/21
4387  2022/07/22
4388  2022/07/23

[4389 rows x 1 columns]

Numeric -

,Unnamed: 0,priceUSD,transactions,size,sentbyaddress,difficulty,hashrate,mining_profitability,sentinusdUSD,transactionfeesUSD,...,price3rsiUSD,price7rsiUSD,price14rsiUSD,price30rsiUSD,price90rsiUSD,price3rocUSD,price7rocUSD,price14rocUSD,price30rocUSD,price90rocUSD
0,0,0.0726,248,765.285,424,1.815430e+02,1.554461e+09,401834.0000,2.612000e+03,0.000243,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,1,0.0859,354,756.040,553,1.815430e+02,1.551287e+09,481473.0000,4.047000e+03,0.000022,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,2,0.0783,413,984.707,632,1.815430e+02,1.640430e+09,431831.0000,2.341000e+03,0.000000,...,82.751,0.000,0.000,0.000,0.000,58.099,0.000,0.000,0.000,0.000
3,3,0.0767,256,542.483,440,1.815430e+02,1.723493e+09,460783.0000,2.122000e+03,0.000000,...,78.603,0.000,0.000,0.000,0.000,5.652,0.000,0.000,0.000,0.000
4,4,0.0649,221,491.903,412,1.815430e+02,1.705481e+09,334641.0000,2.570000e+03,0.000000,...,49.814,0.000,0.000,0.000,0.000,-24.455,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4384,4384,22514.0000,279812,746068.000,502989,2.915280e+13,1.891411e+20,0.1060,5.415818e+10,2.147000,...,93.897,75.464,58.546,44.905,42.126,7.894,13.943,12.592,16.868,-45.701
4385,4385,23568.0000,260069,717017.000,457913,2.915280e+13,1.924968e+20,0.0996,4.309965e+10,2.324000,...,96.938,81.982,64.268,48.147,43.052,11.050,20.222,16.851,16.143,-43.491
4386,4386,22936.0000,273837,719470.000,465780,2.882714e+13,1.910321e+20,0.1070,5.569455e+10,2.026000,...,66.958,69.145,59.013,46.453,42.639,5.182,13.698,10.446,9.218,-42.873
4387,4387,23145.0000,263144,661528.000,414074,2.769257e+13,1.889912e+20,0.1040,5.839661e+10,1.913000,...,71.358,70.905,60.175,47.091,42.823,2.806,11.375,6.403,13.958,-41.676
4388,4388,22512.0000,223590,516219.000,275842,2.769257e+13,1.848600e+20,0.1190,4.852391e+10,1.354000,...,44.459,59.010,55.084,45.397,42.406,-4.479,7.886,4.149,9.753,-43.216

Integer -

,Unnamed: 0,transactions,sentbyaddress,activeaddresses,transactions3mom,transactions7mom,transactions14mom,transactions30mom,transactions90mom,transactions30var,...,sentinusd90stdUSD,activeaddresses3mom,activeaddresses7mom,activeaddresses14mom,activeaddresses30mom,activeaddresses90mom,activeaddresses7var,activeaddresses14var,activeaddresses30var,activeaddresses90var
0,0,248,424,917,-458,74,190,205,204,1032220,...,0,-1102,330,480,643,371,3679676,3004325,1709159,643741
1,1,354,553,972,-322,-1287,281,290,316,1028765,...,0,-738,-2579,589,593,546,3747257,2936683,1701096,646196
2,2,413,632,906,178,-374,374,370,381,1024554,...,0,102,-1092,640,598,531,3946625,2850805,1689443,647823
3,3,256,440,809,8,-5298,194,168,216,1021915,...,0,-108,-5954,426,463,576,207027,2791935,1678964,647978
4,4,221,412,599,-133,-485,149,150,171,1019245,...,0,-373,-1420,285,235,356,106409,2745836,1671960,647243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4384,4384,279812,502989,880113,53322,4585,34101,80168,-5683,621163543,...,102026667118,218601,45834,121556,239966,5448,9455160890,9095742291,6544789533,7861302712
4385,4385,260069,457913,764943,58036,37522,-6922,23565,-22200,623261535,...,101992138217,150000,76856,-92873,74438,-96978,8676744500,8437588773,6412739003,7811677848
4386,4386,273837,465780,826508,26073,-12933,-7441,19549,13042,644625833,...,101470720446,72687,-33276,-48460,39504,37394,7934506342,7786755149,6545797604,7826416975
4387,4387,263144,414074,711027,-16668,-5983,-5039,7801,28329,650407960,...,101481213801,-169086,-126032,-117789,-22747,-72239,7201884898,7464799952,6597526279,7895018064
4388,4388,223590,275842,673523,-36479,-2900,3016,-31471,1769,668043155,...,101503847437,-91420,12011,-13574,-83234,-38990,6934088623,7592369789,6817294373,7978408480

Logical -

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[4389 rows x 0 columns]

In [ ]:
# If variables are not in the correct data type, apply proper type conversions.

In [ ]:
# Turn categorical variables into quantitative variables in Python.